hr_agent_workflow.json
{
  "name": "AI_CV_Scoring_HR_Assistant",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Job Application",
        "formDescription": "Please fill out all fields to apply for the position",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Full Name",
              "fieldName": "fullName",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "fieldName": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Applied Job Position",
              "fieldName": "jobPosition",
              "requiredField": true
            },
            {
              "fieldLabel": "Years of Experience",
              "fieldType": "number",
              "fieldName": "yearsOfExperience",
              "requiredField": true
            },
            {
              "fieldLabel": "Upload CV (PDF)",
              "fieldType": "file",
              "fieldName": "cvFile",
              "multipleFiles": false,
              "acceptFileTypes": ".pdf",
              "requiredField": true
            }
          ]
        },
        "options": {
          "respondWithOptions": {
            "values": {
              "formSubmittedText": "Thank you for your application! We will review your CV and get back to you soon."
            }
          }
        }
      },
      "id": "7ede344c-dcca-44a7-b83c-b533dd707122",
      "name": "Job Application Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        240,
        560
      ],
      "webhookId": "fe0085b1-e0a4-475d-ae78-cf5888d262be"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "cvFile",
        "options": {
          "joinPages": true
        }
      },
      "id": "e7a4791f-7ddc-4eef-a46b-14134d0d1bd7",
      "name": "Extract CV Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        464,
        560
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this CV for the position of {{ $('Job Application Form').item.json['jobPosition'] }}.\nCandidate: {{ $('Job Application Form').item.json['fullName'] }}\nYears of Experience: {{ $('Job Application Form').item.json['yearsOfExperience'] }}\nCV Content:\n{{ $('Extract CV Text').item.json.text }}\nProvide a score from 0 to 100 based on:\n- Relevant experience and skills\n- Education and qualifications\n- Overall fit for the position\nRespond with ONLY a number between 0 and 100, nothing else.",
        "options": {
          "systemMessage": "You are an expert HR recruiter. Analyze CVs and provide accurate scores from 0-100. Always respond with only the numeric score."
        }
      },
      "id": "eb5df980-cc7b-4974-89e9-0d84d53cccad",
      "name": "Score CV",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        224,
        784
      ]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 0.3
        }
      },
      "id": "d18d789b-06f2-484f-bc84-44cce4909844",
      "name": "Groq Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        224,
        944
      ],
      "credentials": {
        "groqApi": {
          "id": "9AAKyHSZKNP3yG8x",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const rawOutput = $input.item.json.output;\n\nconst match = rawOutput.match(/\\b(\\d{1,3})\\b/);\nconst score = match ? parseInt(match[1]) : 0;\n\nreturn {\n  json: {\n    fullName: $('Job Application Form').item.json.fullName,\n    email: $('Job Application Form').item.json.email,\n    jobPosition: $('Job Application Form').item.json.jobPosition,\n    yearsOfExperience: $('Job Application Form').item.json.yearsOfExperience,\n    score: score\n  }\n};"
      },
      "id": "52777564-f935-43ff-b5a1-0447fdd5f385",
      "name": "Parse Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        784
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.score }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "rightValue": 80,
              "id": "d9c4874d-461b-4cca-9af9-aaf986a71df1"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "461c245e-c71e-4263-83a9-a2cb02efb15c",
      "name": "Score > 80?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        672,
        784
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate exactly 5 technical interview questions specifically for a {{ $('Job Application Form').item.json['jobPosition'] }} position. No intro text. Start directly with 1.",
        "options": {
          "systemMessage": "You are an expert interviewer. Generate exactly 5 relevant interview questions for the given job position. Number them 1-5."
        }
      },
      "id": "8af98aaa-29a3-4e59-b55a-84c8ad82495c",
      "name": "Generate Interview Questions",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        784,
        560
      ]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 0.7
        }
      },
      "id": "7de6abe9-4d63-4008-a326-3dd3ac5e09b3",
      "name": "Groq Model Questions",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        816,
        720
      ],
      "retryOnFail": false,
      "credentials": {
        "groqApi": {
          "id": "s5UCBwccHBZIRRrr",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Qualified Candidates",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Full Name": "={{ $('Job Application Form').item.json.fullName }}",
            "Email": "={{ $('Job Application Form').item.json.email }}",
            "Job Position": "={{ $('Job Application Form').item.json.jobPosition }}",
            "Years of Experience": "={{ $('Job Application Form').item.json.yearsOfExperience }}",
            "Score": "={{ $('Score CV').item.json.output }}",
            "Question 1": "={{ $('Generate Interview Questions').item.json.output.split(/\\d\\./)[1].trim() }}",
            "Question 2": "={{ $('Generate Interview Questions').item.json.output.split(/\\d\\./)[2].trim() }}",
            "Question 3": "={{ $('Generate Interview Questions').item.json.output.split(/\\d\\./)[3].trim() }}",
            "Question 4": "={{ $('Generate Interview Questions').item.json.output.split(/\\d\\./)[4].trim() }}",
            "Question 5": "={{ $('Generate Interview Questions').item.json.output.split(/\\d\\./)[5].trim() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job Position",
              "displayName": "Job Position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Years of Experience",
              "displayName": "Years of Experience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Question 1",
              "displayName": "Question 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Question 2",
              "displayName": "Question 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Question 3",
              "displayName": "Question 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Question 4",
              "displayName": "Question 4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Question 5",
              "displayName": "Question 5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "26b0449b-230f-4272-8e34-b1390c6d94ec",
      "name": "Qualified Candidates",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1072,
        560
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PNRTqZL3Ak2CfgnO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "HR Applicants",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1595248650,
          "mode": "list",
          "cachedResultName": "Rejected Candidates",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit#gid=1595248650"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Full Name": "={{ $('Job Application Form').item.json['fullName'] }}",
            "Email": "={{ $('Job Application Form').item.json['email'] }}",
            "Job Position": "={{ $('Job Application Form').item.json['jobPosition'] }}",
            "Years of Experience": "={{ $('Job Application Form').item.json['yearsOfExperience'] }}",
            "Score": "={{ $('Parse Score').item.json.score }}",
            "Rejection Date": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Position",
              "displayName": "Job Position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Years of Experience",
              "displayName": "Years of Experience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rejection Date",
              "displayName": "Rejection Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1072,
        800
      ],
      "id": "fec3cfd9-0c93-4795-8768-d83fb194f2d0",
      "name": "Rejected Candidates",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PNRTqZL3Ak2CfgnO",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Job Application Form": {
      "main": [
        [
          {
            "node": "Extract CV Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract CV Text": {
      "main": [
        [
          {
            "node": "Score CV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score CV": {
      "main": [
        [
          {
            "node": "Parse Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Model": {
      "ai_languageModel": [
        [
          {
            "node": "Score CV",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse Score": {
      "main": [
        [
          {
            "node": "Score > 80?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score > 80?": {
      "main": [
        [
          {
            "node": "Generate Interview Questions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rejected Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Interview Questions": {
      "main": [
        [
          {
            "node": "Qualified Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Model Questions": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Interview Questions",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "54618a3c-63d8-40e2-8ff4-d58d384eb6ae",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ea78cf761005ea13f7a94d687f629765dfb0d62f6b7182084d4c85dc2f55b46e"
  },
  "id": "A0H0X9QMSvOTB91U",
  "tags": []
}